# Prepare Data

In [2]:
# import relevant libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
# Read the cleaned data
titanic = pd.read_csv('./data/titanic_cleaned.csv')
titanic.head()

   Unnamed: 0  Survived  Pclass  Sex   Age     Fare  Family_cnt  Cabin_ind
0           0         0       3    0  22.0   7.2500           1          0
1           1         1       1    1  38.0  71.2833           1          1
2           2         1       3    1  26.0   7.9250           0          0
3           3         1       1    1  35.0  53.1000           1          1
4           4         0       3    0  35.0   8.0500           0          0

In [12]:
# Separate Features and targets
features = titanic.drop('Survived', axis=1)
labels = titanic['Survived']

features.head()

   Unnamed: 0  Pclass  Sex   Age     Fare  Family_cnt  Cabin_ind
0           0       3    0  22.0   7.2500           1          0
1           1       1    1  38.0  71.2833           1          1
2           2       3    1  26.0   7.9250           0          0
3           3       1    1  35.0  53.1000           1          1
4           4       3    0  35.0   8.0500           0          0

In [14]:
labels.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [16]:
# Split the data into train, validation and test sets
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size = 0.4, random_state = 42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size = 0.5, random_state = 42)

In [32]:
# Check whether 60% went to training set and 20% each to test and validation
for dataset in [y_train, y_val, y_test]:
    print(round(len(dataset) * 100 / len(labels)),'%')

60 %
20 %
20 %